/* 
Order:
1. width, height
2. direction, *-index
3. display
4. position
5. margin, padding

*/

* {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    font-family: Arial;
}

@font-face {
    font-family: New-Haettenschweiler;
    src: url('../HATTEN.TTF');
}

body {
    background-color: /* #5A3A38 */ #C5405C;
    /* background-image: url('../img/background.png'); */
}

#main-container {
    height: calc(100vh+0);
    /* margin-left: 5%;
    margin-right: 5%; */
    background-color: #FFF;
}

#main-wrapper {
    height: 1000px;
}

header {
    height: 180px;
    display: flex;
    overflow: hidden;

    border-bottom: 4px solid #000;
    background-color: /* #FC7F4A */ #D91E3D;
}

#head-p {
    display: flex;
    margin: auto;

    color: #FFF;
    font-size: 64px;
    font-family: New-Haettenschweiler;
}

#secondary-wrapper {
    height: 100%;
    display: flex;
}

#left {
    width: 15%;
    display: inline-block;
    background-color: #FC7F4A;
}

#middle {
    width: 70%;
    z-index: 0;
    display: inline-flexbox;
    padding: 16px;
    font-size: 24px;
    overflow: hidden;
    background-color: #FFF;
    box-shadow: -8px 0px 4px rgba(0, 0, 0, 0.3), 8px 0px 4px rgba(0, 0, 0, 0.3)
}

#desc {
    width: 100%;
    padding: 4px;
    background-color: #EAEAEA;
}

#m {
    width: 100%;
    height: calc(100% - 52px);
    display: flex;
    margin-top: 16px;
    border: 4px solid #EAEAEA;
    background-color: #FFF;
}

#m-desc {
    width: 30%;
    margin: 8px;
    padding: 4px;
    background-color: #EAEAEA;
}

#m-list {
    width: 70%;
    margin: 8px;
    padding: 4px;
    background-color: #EAEAEA;
}

#right {
    width: 15%;
    display: inline-block;
    background-color: #FC7F4A;
}

footer {
    width: 100%;
    bottom: 0;
    display: flex;
    position: sticky;
    padding: 8px 0 8px 0;

    color: #FFF;
    white-space: nowrap;
    overflow: hidden;

    background-color: #C5405C;
}

footer p {
    display: flex;

    font-size: 20px;
    padding-left: 100%;

    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

@media only screen and (max-width: 1000px) and (min-width: 400px) {
    header {
        height: 100px;
    }
    #head-p {
        font-size: 32px;
    }
    footer {
        padding: 4px 0 4px 0;
    }
    footer p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 720px) {
    #middle {
        font-size: 18px;
    }
    #m {
        height: calc(100% - 48px);
        display: inline-block;
        padding: 8px;
    }
    #m-desc{
        width: 100%;
        display: flex;
        margin: 0;
    }
    #m-list {
        width: 100%;
        display: flex;
        margin: 8px 0px 0px 0px;
    }
}

@media only screen and (max-width: 400px) {
    header {
        height: 100px;
    }
    #head-p {
        display: none;
    }
    #cross {
        height: 100%;
        margin: auto;
    }
    #middle {
        padding: 8px;
        font-size: 14px;
    }
    #m {
        height: calc(100% - 34px);
        margin-top: 8px;
    }
}